<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/backstyle.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <title>Cuisine</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/plats">plats</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/commandes">commandes</a>
      </li>
      <li class="nav-item active">
      <a class="nav-link" href="/affichage">affichage</a>
    </li>
    </ul>

  </div>
</nav>
