<% include ./partials/head %>
<div class="col">
    <%  allOrders.forEach(function(order) { %>
    <div id="<%= order._id %>">   
        <h3> Commande table <%= order.tableNumber %> : </h3>
        <%  order.items.forEach(function(item) { %>
            <li><%= item %></li>
        <% }); %>
        <button type="button" class="btn btn-success" onclick="changeStatus('<%= order._id %>');">Commande prête</button>    
    </div>
    <% }); %>
</div>
<% include ./partials/footer %>