<% include ./partials/head %>

<div class="container">
<h2>Modification de la tache <%=task.id%> :</h2>
<form method="POST" action="#">
  <div class="form-group">
    <label for="exampleInputEmail1">Nom de la tache</label>
    <input type="text" class="form-control" placeholder="Nom" value="<%= task.title %>" name="title">
    <label for="exampleInputEmail1">Détails de la tache</label>
    <textarea name="details" class="form-control" rows="3" placeholder="Contenu..." ><%= task.details %></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Modifier</button>
</form>
</div>

<% include ./partials/footer %>
